.Paragraph-Style
{
	font-family: poiret-one-n4, sans-serif;
}

.GREY-TEXT,.Paragraph-Style-1,.ORANGE-HEADER2,.yellowsub
{
	font-family: droid-sans-n4, sans-serif;
}

.BADGING-HEADERS-YELLOW,.white-credits
{
	font-family: cabin-condensed-n6, sans-serif;
}

.blue-title
{
	font-family: cabin-n7, sans-serif;
}

#u2310-4,#u2546-5
{
	font-family: electrolize-n4, sans-serif;
}

#u2727-4
{
	font-family: actor-n4, sans-serif;
}

#u2909-4
{
	font-family: actor-n4, sans-serif;
}

#u2744-4
{
	font-family: actor-n4, sans-serif;
}

#u2822-4
{
	font-family: actor-n4, sans-serif;
}

#u2846-4
{
	font-family: actor-n4, sans-serif;
}

#u2955-4
{
	font-family: actor-n4, sans-serif;
}

#u2289-7,#u2291-11,#u2293-12
{
	font-family: cabin-n4, sans-serif;
}

